@font-face {
    font-family: 'JetBrains Mono';
    src: url('public/fonts/JetBrainsMono-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-accent-text: #454545;
    --color-accent: #F7CAC9
}

.theme-default {
    --color-bg: #ffffff;
    --color-text: #000000;
    --color-accent-text: #454545;
    --color-accent: #F7CAC9
}

.theme-olivia {
    --color-bg: #363434;
    --color-text: #ffffff;
    --color-accent-text: #454545;
    --color-accent: #E8C4B8;
}