---

import Layout from "../layouts/Layout.astro";
import DoomEmbed from "../components/DoomEmbed.astro";---

<Layout title="ol | doom" friends={false}>
    <div class="flex items-center justify-center min-h-screen md:block">
        <DoomEmbed />
    </div>
</Layout>