---
import Welcome from '../components/Welcome.astro';
import Project from '../components/Project.astro';
import Layout from '../layouts/Layout.astro';


---

<Layout title="ol">
	<div class="flex flex-row">
		<Welcome />
		<Project />
	</div>
</Layout>
