---
interface Frontmatter {
    title: string;
    description: string;
    technologies: string;
}

interface Post {
    frontmatter: Frontmatter;
}

const posts = Object.values(import.meta.glob('../../public/projects/*.md', { eager: true })) as Post[];
---


<div class="w-2/3 right-0 absolute pt-32">
    <div class="flex flex-row">
        <div class="pl-16 text-cgrey font-light">
            <span class="bg-rquartz">.projects</span>
        </div>
        <div class="pl-36 w-full h-full overflow-scroll">
                {posts.map(post =>
                        <ul class="pb-24">
                            <li class="font-extrabold">{post.frontmatter.title}</li>
                            <li class="text-cgrey">{post.frontmatter.description}</li>
                            <li class="text-cgrey font-light">[{post.frontmatter.technologies}]</li>
                        </ul>
                )}
        </div>
    </div>
</div>