---
interface Image {
    src: string;
    width: number;
    height: number;
    format: string;
}

interface Images {
    default: Image;
}

const { project } = Astro.props;

const images = Object.values(import.meta.glob('../../public/images/*.JPG', { eager: true })) as Images[];

const filteredImages = images.filter((image) => {
    return image.default.src.substring(image.default.src.lastIndexOf("/")).includes(project);
});
---

<div class="w-full right-0 absolute pt-16 pr-8 pb-20 md:w-2/3 md:pr-16 md:pt-32">
    <div class="flex flex-row">
        <div class="pl-8 w-full h-full overflow-scroll overflow-y-hidden overflow-x-hidden md:pl-36">
            {filteredImages.map((image) => (
                <img src={image.default.src} alt={project} class="pb-12" />
            ))}
        </div>
    </div>
</div>