---
import {type GetStaticPaths} from "astro";
import {getPosts, slugify} from "../../js/utils.ts";
import Layout from "../../layouts/Layout.astro";
import ProjectImages from "../../components/ProjectImages.astro";

export const getStaticPaths = (() => {

	return [
        {
            params: { project: slugify("interactive-storyteller") },
            props: { name: "interactive storyteller" }
        },
        {
            params: { project: slugify("plantr") },
            props: { name: "plantr" }
        },
        {
            params: { project: slugify("portfolio") },
            props: { name: "portfolio" }
        },
        {
            params: { project: slugify("youth-of-orakei") },
            props: { name: "youth of orakei" }
        }
    ];
}) satisfies GetStaticPaths;

const { project } = Astro.params;
const { name } = Astro.props;

const posts = getPosts();
const truePost = posts.filter(post => {
    return post.frontmatter.title === name;
})[0];

---

<Layout title=`ol | ${name}` >
    <div class="container w-1/3 flex flex-col fixed">
        <div class="pl-16 pt-32 font-bold">
            <a href="/">← back</a>
        </div>
        <div class="pl-16 pt-20 font-semibold text-2xl">
            {name}
        </div>
        <div class="pl-16 pt-3 text-l w-4/5">
            <truePost.Content />
        </div>
        <div class="pl-16 pt-10">
            <a
                    href={truePost.frontmatter.github}
                    target="_blank"
                    class="relative text-cgrey hover:after:content-['[↗]'] hover:after:ml-1 "
            >
                github repo
            </a>
        </div>
    </div>
    <ProjectImages project={project} />
</Layout>